.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
}

.spacer {
  flex: 1;
}

.modifiers {
  margin-top: var(--space-sm);
}
